altgraph==0.17
amqp==1.4.9
anyjson==0.3.3
asgiref==3.2.7
auto-py-to-exe==2.7.5
beautifulsoup4==4.9.1
billiard==3.3.0.23
bottle==0.12.18
bottle-websocket==0.2.9
celery==3.1.26.post2
certifi==2020.6.20
chardet==3.0.4
dj-database-url==0.5.0
Django==3.0.5
django-celery==3.3.1
django-ckeditor==5.9.0
django-google-analytics-app==4.4.2
django-heroku==0.3.1
django-js-asset==1.2.2
django-quill-editor==0.1.5
django-reusable-components==0.2.3
Eel==0.12.4
future==0.18.2
gevent==20.6.2
gevent-websocket==0.10.1
greenlet==0.4.16
gunicorn==20.0.4
idna==2.10
kombu==3.0.37
mailchimp-marketing==3.0.15
mailchimp3==3.0.14
Pillow==7.1.1
psycopg2==2.7.5
psycopg2-binary==2.8.5
PyInstaller==3.6
python-dateutil==2.8.1
pytz==2019.3
requests==2.24.0
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
structlog==20.1.0
urllib3==1.25.10
whichcraft==0.6.1
whitenoise==5.2.0
zope.event==4.4
zope.interface==5.1.0
