{% extends "blog/baseContent.html" %}
{% block content %}

<!-- Post Delete -->
<div class="col-lg-8">
    <h1 class="title mt-4">Delete post</h1>
    <form method="POST">
        <h2 class="mt-4"> Are you sure you want to delete "{{ object.title|capfirst }}"?</h2>
        
        <!-- Single Comment -->
        {% csrf_token %}
        <div class="media mb-4">
            <div class="media-body">
                <button class="btn btn-outline-danger" type="submit">Delete</button>
                <a href="{% url 'post-detail' object.slug %}" class="btn btn-outline-secondary">Cancel</a>
            </div>
        </div>
    </form>
</div>
{% endblock content %}