{% extends "blog/baseContent.html" %}
{% block content %}

<!-- Account Delete -->
<div class="col-lg-8">
    <h1 class="title mt-4">Delete your account</h1>
    <form method="POST">
        <h2 class="mt-4"> Are you sure you want to delete your account? There's no comming back from it.</h2>
        
        {% csrf_token %}
        <div class="media mb-4">
            <div class="media-body">
                <button class="btn btn-outline-danger" type="submit">Delete</button>
                
            </div>
        </div>
    </form>
</div>
{% endblock content %}